:root{
    --bg-color:#090708;
    --white:#FFFFFF;
    --accent-color:#EF0D33;
    --title-font:"Bai Jamjuree", sans-serif;
}
body{
     font-family: var(--title-font); 
     background-color: var(--bg-color);
}
.container{
    max-width: 1570px;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
nav{
    background-color: var(--bg-color);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 99;
    padding-block: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
   }
  nav .navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 0;

  }
  .navbar .logo a{
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  nav .navbar .nav-links{
    line-height: 70px;
    height: 100%;
  }
  nav .navbar .links {
    display: flex;
    padding: 0;
    gap: 60px;
    margin: 0;
}
  nav .navbar .links li{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
  }
  nav .navbar .links li::after{
    position:absolute;
    content:"";
    left: 0;
    bottom: 12px;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: 0.5s;
  }
  nav .navbar .links li.active::after{
    background-color: var(--accent-color);
    transition: 0.5s;
  }
  nav .navbar .links li:hover::after{
    background-color: var(--accent-color);
    transition: 0.5s;
}
  nav .navbar .links li a{
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
  }
  nav i.bx.bxs-phone-call {
    font-size: 20px;
}
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow{
    transform: rotate(180deg);
    }
  
  nav .navbar .links li .arrow{
    /* background: red; */
    height: 100%;
    width: 22px;
    line-height: 70px;
    text-align: center;
    display: inline-block;
    color: #fff;
    transition: all 0.3s ease;
  }
  nav .navbar .links li .sub-menu{
    position: absolute;
    top: 70px;
    left: 0;
    line-height: 40px;
    background:var(--bg-color);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
    display: none;
    z-index: 3;
    padding: 0;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu{
    display: block;
  }
  .navbar .links li .sub-menu li{
    padding: 0 22px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }
  .navbar .links li .sub-menu a{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
  }
  .navbar .links li .sub-menu .more-arrow{
    line-height: 40px;
  }
  .navbar .links li .htmlCss-more-sub-menu{
    /* line-height: 40px; */
  }
  .navbar .links li .sub-menu .more-sub-menu{
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 0 4px 4px 4px;
    z-index: 1;
    display: none;
  }
  .links li .sub-menu .more:hover .more-sub-menu{
    display: block;
  }
  .navbar .search-box{
    position: relative;
     height: 40px;
    width: 40px;
  }
  .navbar .search-box i{
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .navbar .search-box .input-box{
    position: absolute;
    right: calc(100% - 40px);
    top: 80px;
    height: 60px;
    width: 300px;
    background: #3E8DA8;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
  }
  .navbar.showInput .search-box .input-box{
    top: 65px;
    opacity: 1;
    pointer-events: auto;
    background: #3E8DA8;
  }
  .search-box .input-box::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: #3E8DA8;
    right: 10px;
    top: -6px;
    transform: rotate(45deg);
  }
  .search-box .input-box input{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    height: 35px;
    width: 280px;
    outline: none;
    padding: 0 15px;
    font-size: 16px;
    border: none;
  }
  .navbar .nav-links .sidebar-logo{
    display: none;
  }
  .navbar .bx-menu{
    display: none;
  }
  @media (max-width:960px) {
    nav .navbar{
      max-width: 100%;
      padding: 0 25px;
    }
    nav .navbar .links {
      display: flex;
      padding: 0;
      gap: 5px;
      margin: 0;
  }
  
    nav .navbar .logo a{
      font-size: 27px;
    }
    nav .navbar .links li{
      padding: 0 10px;
      white-space: nowrap;
    }
    nav .navbar .links li a{
      font-size: 15px;
    }
    
  }
  @media (max-width:880px){
    .logo-block {
      width: max-content;
      margin: 0 auto;
  }
  nav .navbar .links li::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background-color: transparent;
}
span.logo-name {
  width: 160px;
}
.logo-block {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
nav .navbar {
  max-width: 100%;
  padding: 0 25px;
  padding-block-start: 60px;
  /* flex-direction: column; */
  gap: 10px;
  flex-direction: row-reverse;
}
   
    .navbar .bx-menu{
      display: block;
    }
    nav .navbar .nav-links{
      position: fixed;
      top: 0;
      left: -100%;
      display: block;
      max-width: 270px;
      width: 100%;
      background: var(--bg-color);
      line-height: 40px;
      padding: 20px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      transition: all 0.5s ease;
      z-index: 1000;
    }
    .navbar .nav-links .sidebar-logo{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .sidebar-logo .logo-name{
      font-size: 25px;
      color: #fff;
    }
    .sidebar-logo  i, .navbar .bx-menu {
      font-size: 25px;
      color: #fff;
      padding: 7px;
      border-radius: 5px;
  }
    nav .navbar .links{
      display: block;
      margin-top: 20px;
    }
    nav .navbar .links li .arrow{
      line-height: 40px;
    }
  nav .navbar .links li{
      display: block;
    }
  nav .navbar .links li .sub-menu{
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }
  nav .navbar .links li .sub-menu li{
    border-bottom: none;
  
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
    position: relative;
    left: 0;
  }
  .navbar .links li .sub-menu .more-sub-menu li{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow{
    transform: rotate(0deg);
    }
    .navbar .links li .sub-menu .more-sub-menu{
      display: none;
    }
    .navbar .links li .sub-menu .more span{
      /* background: red; */
      display: flex;
      align-items: center;
      /* justify-content: space-between; */
    }
  
    .links li .sub-menu .more:hover .more-sub-menu{
      display: none;
    }
    nav .navbar .links li:hover .htmlCss-sub-menu,
    nav .navbar .links li:hover .js-sub-menu{
      display: none;
    }
  .navbar .nav-links.show1 .links .htmlCss-sub-menu,
    .navbar .nav-links.show3 .links .js-sub-menu,
    .navbar .nav-links.show2 .links .more .more-sub-menu{
        display: block;
      }
      .navbar .nav-links.show1 .links .htmlcss-arrow,
      .navbar .nav-links.show3 .links .js-arrow{
          transform: rotate(180deg);
  }
      .navbar .nav-links.show2 .links .more-arrow{
        transform: rotate(90deg);
      }
  }
  @media (max-width:370px){
    nav .navbar .nav-links{
    max-width: 100%;
  } 
  }
  
  .contact-no {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: end;
    line-height: 0;
    text-decoration: none;
    color: var(--white);
    font-size: 18px;
    font-weight: 400;
}
.contact-no span{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .text-content {
  width: 64%;
  padding-block: 150px;
}
.banner h1 {
    font-family: inherit;
    color: var(--white);
    position: relative;
    z-index: 1;
    font-size: clamp(1.875rem, 1.3542rem + 2.7778vw, 4.6875rem);
    text-transform: capitalize;
    font-weight: 700;
    line-height: 1.2;
}

.element{
    width: 10%;
    height: 8px;
    background-color: red;
}
.banner {
  position: relative;
  background-image: url(../assets/images/banner-hero-img.png);
  width: 100%;
  background-repeat: no-repeat;
  background-position: right;
  z-index: 2;
}
.banner::after{
  position: absolute;
  content:"";
  background-image: url(../assets/images/banner-hero-img-overly-2.png);
  width: 100%;
  height:100%;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-programs {
  background-color: var(--bg-color);
  position: relative;
  padding-block-start: 80px;
}

.our-programs .box{
  background-color: #3A060D;
}
.our-programs .box {
  background: rgb(38,17,21);
background: linear-gradient(331deg, rgba(38,17,21,1) 0%, rgba(54,8,14,1) 100%);
  border: 1px solid red;
  padding-block-start: 100px;
  padding-block-end: 60px;
  padding-inline: 40px;
}
.our-programs .box .icon-box {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translate(-50%, -50px);
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: var(--white);
}
.title h2 {
  font-family: inherit;
  font-size: clamp(1.5625rem, 1.331rem + 1.2346vw, 2.8125rem);
  font-weight: 700;
  padding-block-start: 0;
}
.our-programs .box  h3{
  font-size: 30px;
  font-weight: 700;
}
.our-programs .box  p{
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  color: var(--white);
  padding-block-start: 40px;
}
.our-programs .row{
  padding-block-start: 120px;
}
.our-programs .box span {
  color: rgb(255 255 255 / 45%);
  font-size: 214px;
  font-weight: 700;
  font-style: italic;
  position: absolute;
  bottom: -70px;
  right: 17px;
  opacity: 0.1;
  overflow: hidden;
}


.master-classes{
  background-color: var(--bg-color);
  padding-block-start: 100px;
  position: relative;
}
/* .master-classes::after{
  position: absolute;
  content: "";
  background-image: url(../assets/images/master-classes-bg.png);
  width: 100%;
  background-repeat: no-repeat;
  top: 0;
  right: 0;
} */
.master-classes .box .heading h3{
  font-family: inherit;
  font-size: clamp(1.25rem, 1.0648rem + 0.9877vw, 2.25rem);
  font-weight: 700;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 2px;
}
.master-classes .box .element{
  height: 4px;
  width: 60px;
}
.master-classes .box p{
  font-size: 16px;
  line-height: 22px;
  color: var(--white);
  padding-block-start: 32px;
}
.master-classes .row .flex-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.master-classes .row{
  align-items: center;
  margin-top: 88px;
}
.master-classes .title h2{
  padding: 0!important;
}




.upcoming-projects{
  background-color: var(--bg-color);
  padding-block-start: 100px;
}
.upcoming-projects .box .icon-box{
  width: 35%;
  margin: 0 auto;
}
.upcoming-projects .box h3{
  font-size: 24px;
  font-weight: 700;
  padding-block-start: 33px;
}
.upcoming-projects .box p{
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  padding-block-start: 33px;
}






.contact-us{
  padding-block-start: 80px;
  padding-block-end: 60px;
}
.contact-us .title h2{
  padding-top: 0;
}
.contact-us .contact-wrapper{
  width: 50%;
  margin: 0 auto;
}
.contact-us .contact-wrapper .flex-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact-us .contact-wrapper .flex-box .box{
  width: 48%;
  margin-block-start: 19px;
}
.contact-us .contact-wrapper .flex-box .big-box{
  width: 100%;
  margin-block-start: 19px;
}
.contact-us .contact-wrapper .flex-box .box label{
  display: block;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: var(--white);
  text-transform: capitalize;
}
.contact-us .contact-wrapper .flex-box .big-box label{
  display: block;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: var(--white);
  text-transform: capitalize;
}
.contact-us .contact-wrapper .flex-box .box input{
  display: block;
  width: 100%;
  padding-inline: 15px;
  padding-block: 15px;
  background-color: #151515;
  color: var(--white);
  outline: none;
  border: 1px solid var(--accent-color);
  margin-top: 5px;
}
.contact-us .contact-wrapper .flex-box .big-box textarea {
  display: block;
  width: 100%;
  padding-inline: 15px;
  padding-block: 15px;
  background-color: #151515;
  color: var(--white);
  outline: none;
  border: 1px solid var(--accent-color);
  margin-top: 5px;
  height: 134px;
  resize: none;
}
.submit-btn{
  padding-block: 15px;
  color: var(--white);
  outline: none;
  background-color: var(--accent-color);
  margin-top: 28px;
  border: none;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
footer{
  padding: 50px 0 20px 0;
  border-top: 1px solid #222021;
  position: relative;
}
.footer-subtitle{
  font-size: 16px;
  font-weight: 500;
  color: var(--accent-color);
  text-transform: uppercase;
  margin-bottom: 22px;
}
footer p{
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
footer p+p{
  margin-top: 12px;
}
footer .col-lg-3 .contact-sec a{
  text-decoration: none;
  font-size: 14px;
}
.location{
  display: inline-block;
  padding-block-start:15px ;
}
footer .social-media a{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.space-man {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.5;
  width: 34%;
}
footer .copyright{
  padding: 20px 0 0 0;
  border-top: 1px solid rgba(255, 255, 255, 0.07);
  margin: 30px 0 0 0;
}